*{
    font-family: consolas;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: black;
}

table{
    border-collapse: collapse;
    margin: 10px;
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}

table td{
    font-size: 50px;
    padding: 0 20px;
}

#matrizArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#subArea{
    display: flex;
    flex-direction: column;
    font-size: 35px;
}